{% extends 'base.html' %}

{% block title %}{{ request.site.name }}{% endblock %}

{% block body %}

{% for article in articles %}

  <article class="article" itemscope itemtype="https://schema.org/Article">
  <header class="header">
    <h2 class="title" itemprop="headline">
      <a href="{{ article.get_absolute_url }}" itemprop="url">{{ article.title }}</a>
    </h2>
  </header>

  {% if article.image %}
    <figure class="thumbnail" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img class="image" width="{{ article.image.width }}" height="{{ article.image.height }}" src="{{ article.image.url }}" alt="{{ article.title }}" itemprop="url">
      <meta itemprop="width" content="{{ article.image.width }}">
      <meta itemprop="height" content="{{ article.image.height }}">
    </figure>
  {% endif %}

  <div class="content" itemprop="description">{{ article.description }}</div>

  <p>
    <time class="date" datetime="{{ article.created_at.isoformat }}" itemprop="datePublished">
      {{ article.created_at }}
    </time>
  </p>
</article>
{% endfor %}

{% endblock %}
