{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ canonical }}">
{% endblock %}

{% block body %}
{% for article in articles %}

  <article class="article" itemscope itemtype="https://schema.org/Article">
  <header class="header">
    <h2 class="title" itemprop="headline">
      <a href="{{ article.get_absolute_url }}" itemprop="url">{{ article.title }}</a>
    </h2>
  </header>

  {% if article.image %}
    <figure class="thumbnail" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img class="image" width="{{ article.image.width }}" height="{{ article.image.height }}" src="{{ article.image.url }}" alt="{{ article.title }}" itemprop="url">
      <meta itemprop="width" content="{{ article.image.width }}">
      <meta itemprop="height" content="{{ article.image.height }}">
    </figure>
  {% endif %}

  <div class="content" itemprop="description">{{ article.description }}</div>

  <p>
    <time class="date" datetime="{{ article.created_at.isoformat }}" itemprop="datePublished">
      {{ article.created_at }}
    </time>
  </p>
</article>
{% endfor %}


<aside class="prev-next">
  {% if page_obj.has_previous %}
    <div class="prev">&larr; &laquo;<a title="предыдущая" href="{% if page_obj.previous_page_number == 1 %}{% url 'articles:articles' %}{% else %}{% url 'articles:pages' page=page_obj.previous_page_number %}{% endif %}">предыдущая</a>&raquo;</div>
  {% endif %}

  {% if page_obj.has_next %}
    <div class="next">&laquo;<a title="следующая" href="{% url 'articles:pages' page_obj.next_page_number %}">следующая</a>&raquo; &rarr;</div>
  {% endif %}
</aside>

{% endblock %}
