{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  {% if article.description %}
  <meta name="description" content="{{ article.description }}">
  {% endif %}
  <link rel="stylesheet" href="{% static 'foundation.min.css' %}">
  <link rel="canonical" href="{{ canonical }}">
{% endblock %}

{% block body %}

<article class="article" itemscope itemtype="https://schema.org/Article">
  <header class="header">
    <time class="date" datetime="{{ article.created_at.isoformat }}" itemprop="datePublished">
      {{ article.created_at }}
    </time>
    <h2 class="title" itemprop="headline">{{ article.title }}</h2>
  </header>

  {% if article.image %}
    <figure class="thumbnail" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img class="image" width="{{ article.image.width }}" height="{{ article.image.height }}" src="{{ article.image.url }}" alt="{{ article.title }}" itemprop="url">
      <meta itemprop="width" content="{{ article.image.width }}">
      <meta itemprop="height" content="{{ article.image.height }}">
    </figure>
  {% endif %}

  <div class="content" itemprop="articleBody">{{ article.content|safe }}</div>
  <footer class="footer">
    <div>Рубрика: <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a></div>
  </footer>
</article>

<aside class="prev-next">
  {% with prev=article.get_previous_by_created_at %}
    {% if prev and prev.is_published %}
      <div class="prev">&larr; &laquo;<a title="предыдущая" href="{{ prev.get_absolute_url }}">{{ prev.title }}</a>&raquo;</div>
    {% endif %}
  {% endwith %}

  {% with next=article.get_next_by_created_at %}
    {% if next and next.is_published %}
      <div class="next">&laquo;<a title="следующая" href="{{ next.get_absolute_url }}">{{ next.title }}</a>&raquo; &rarr;</div>
    {% endif %}
  {% endwith %}
</aside>
{% endblock %}

{% block scripts %}
<script src="{% static 'highlight.min.js' %}"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
