{% load static %}<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <a href="/mariadb/">MariaDB</a>
      <a href="/postgresql/">PostgreSQL</a>
      <a href="/basics/">Основы</a>
    </nav>
    <header class="site-header">
      <h1 class="title"><a href="{% url 'articles:articles' %}">{{ request.site.name }}</a></h1>
    </header>
    <div class="site-body">{% block body %}{% endblock %}</div>
    <footer class="site-footer"></footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
